/* HERO BACKGROUND */
.hero-section {
    min-height: 40vh; /* reduce height */
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #6a5acd; /* dark grey */
}

/* CARD */
.card {
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.1);
    border: none;
}
.feature-card {
    /*background: #6a5acd;*/ /* purple */

    border: 2px solid black; /* 👈 THIS LINE ADDED */


    color: black; /* text white */
    border-radius: 15px;
    padding: 30px;
    transition: all 0.3s ease;
}

    .feature-card i {
        font-size: 32px;
        color: black;
    }

    .feature-card p {
        color: black;
    }
/* ICON CIRCLE */
.icon-circle {
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50%;
    background: #6a5acd;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .icon-circle i {
        color: white;
        font-size: 28px;
    }

/* FEATURES */
.feature-box i {
    font-size: 30px;
    color: #6a5acd;
}

.feature-box {
    padding: 20px;
}
